body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  margin-right: 1rem;

  color: #fff;
  text-align: center;
  border-radius: .25rem;

  position: fixed;
  z-index: 1;
  right: 0;
  top: 3rem;
  font-size: 17px;
  white-space: nowrap;

  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

#toast #img {
  width: 50px;
  height: 50px;
  float: left;
  padding: .75rem;
  box-sizing: border-box;
  color: #fff;
}

#toast #desc {
  color: #fff;
  padding: 1rem;
  overflow: hidden;
  white-space: nowrap;
}

#toast.success {
  background-color: #10b981;
}

#toast.fail {
  background-color: #ef4444;
}

#toast.success #img {
  background-color: #065f46;
}

#toast.fail #img {
  background-color: #991b1b;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
  -webkit-animation-delay: 3s, 3s, 3s, 3s, 3s;
  animation-delay: 3s, 3s, 3s, 3s, 3s;

}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes expand {
  from {
    min-width: 50px
  }

  to {
    min-width: 350px
  }
}

@keyframes expand {
  from {
    min-width: 50px
  }

  to {
    min-width: 350px
  }
}

@-webkit-keyframes stay {
  from {
    min-width: 350px
  }

  to {
    min-width: 350px
  }
}

@keyframes stay {
  from {
    min-width: 350px
  }

  to {
    min-width: 350px
  }
}

@-webkit-keyframes shrink {
  from {
    min-width: 350px;
  }

  to {
    min-width: 50px;
  }
}

@keyframes shrink {
  from {
    min-width: 350px;
  }

  to {
    min-width: 50px;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 60px;
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    bottom: 30px;
    opacity: 1;
  }

  80% {
    bottom: 60px;
    opacity: 0;
    display: none;
  }

  100% {
    display: none;
  }
}