.container {
    padding: 2rem 0;
    margin: auto;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.page_wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: .25rem .75rem;
    border-radius: .25rem;
    padding: 1rem;
}

@media (max-width:820px) {
    .container {
        flex-wrap: wrap;
        gap: .5rem .25rem;
    }
    .page_wrapper {
        flex-wrap: wrap;
        justify-content: start;
        gap: .75rem;
    }
}


.btn_page_num {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    border-radius: .25rem;
    border: 1px solid var(--color-dark);
    text-decoration: 0;
}

.btn_page_num:visited {
    color: var(--color-dark);
}

.btn_page_num:hover:not(.active) {
    background-color: var(--color-dark);
    color: var(--color-light);
}


.icon {
    width: 2rem;
    height: 2rem;
}

.btn_page_num.disabled {
    cursor: default;
    color: var(--color-disabled);
    border-color: var(--color-disabled);
}

.btn_page_num:hover.disabled {
    cursor: default;
    background-color: var(--color-light);

}