.input_wrapper {
    display: flex;
    gap: 0 2rem;
    justify-content: center;
    padding: .25rem;
}

.input_wrapper>div {
    width: 100%;

}

.input_wrapper>div>h3 {
    font-size: 1rem;
    color: var(--color-dark);
}

.input_wrapper input[type='number'] {
    text-align: center;
}

.error {
    font-size: .8rem;
    color: var(--color-error);
}

.badges_wrapper {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: .5rem;
    flex-wrap: wrap;
    height: 100%;
    padding: .5rem;
}

.badge {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: .5rem;
    padding: .25rem .40rem;
    padding-left: .50rem;
    font-size: .75rem;
    background-color: var(--color-dark);
    border-radius: 5rem;
    color: var(--color-light);
}

.badge .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--color-light);
    font-weight: 600;
    color: var(--color-dark);
    font-size: .75rem;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}

.badge .icon:hover {
    background-color: var(--color-secondary);
    color: var(--color-light);
}