.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav {
    padding: 0.5rem 1rem;
    height: 10vh;

    background-color: var(--color-light);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    box-shadow: .25rem .25rem 1rem var(--color-dark);
}

.nav_link {
    font-size: 1.25rem;

    color: var(--color-dark);
    font-weight: 600;

}

.nav_link:hover {
    color: var(--color-accent);
}

.nav_link_items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}